[Unit]
Description=OpenHack Hypervisor
After=network.target redis.service
Requires=redis.service

[Service]
Type=simple
ExecStart={{.BinaryPath}} \
    --deployment {{.Deployment}} \
    --port {{.Port}} \
    --env-root {{.EnvRoot}} \
    --app-version {{.Version}}
WorkingDirectory=/var/hypervisor
Restart=always
RestartSec=1s
StartLimitIntervalSec=30
StartLimitBurst=10
StandardOutput=journal
StandardError=journal
Environment=GODEBUG=madvdontneed=1

[Install]
WantedBy=multi-user.target
