[Unit]
Description=OpenHack Backend Deployment {{.DeploymentID}}
After=network.target redis.service
Requires=redis.service

[Service]
Type=simple
ExecStart={{.BinaryPath}} \
    --deployment {{.EnvTag}} \
    --port {{.Port}} \
    --env-root {{.EnvRoot}} \
    --app-version {{.Version}}
WorkingDirectory=/var/openhack
Restart=always
RestartSec=1s
StartLimitBurst=10
StandardOutput=journal
StandardError=journal
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment=GODEBUG=madvdontneed=1

[Install]
WantedBy=multi-user.target